/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background-image: url('health9.png'); /* Background image */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Container Styles */
.container {
    max-width: 90%;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent white background */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #0fb6d3; /* Blue header */
}

.container p {
    font-size: 16px;
    margin-bottom: 30px;
}

/* Form Styles */
form {
    margin-bottom: 20px;
}

input[type="email"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

button[type="submit"] {
    background-color: #25b9df; /* Blue button */
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* Link Styles */
a {
    color: #44dee9; /* Blue link */
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .container {
        max-width: 100%;
    }
}
